{% extends 'base.html' %}

{% block title %}Article Detail {{ article.pk }}{% endblock title %}

{% block body %}
  <h1>{{ article.title }}</h1>
  <p>작성일자: {{ article.created_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <form action="{% url 'articles:edit' article.pk %}">
    {% csrf_token %}
    <button type="submit">수정하기</button>
  </form>
  <form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('Are you sure?')">
    {% csrf_token %}
    <button type="submit">삭제하기</button>
  </form>
  <a href="{% url 'articles:index' %}">[뒤로가기]</a>
{% endblock body %}