{% extends 'base.html' %}
{% comment %} static 파일들을 불러오겠다. {% endcomment %}
{% load static %}

{% block title %}Articles{% endblock title %}

{% block body %}
  {% comment %} url 을 만들어 주는 태그 {% endcomment %}
  {% comment %} 리소스에 바로 접근하지 못하도록 {% endcomment %}
  <img src="{% static 'articles/images/Scarlet.jpg' %}" alt="SCARLET">
  <h1>Articles</h1>
  <a href="{% url 'articles:create' %}">[작성하기]</a>
  <hr>
  <form action="{% url 'articles:selected' %}" method="POST">
    {% csrf_token %}
    {% for article in articles %}
    <br>
    <div>
      <h3><a href="{% url 'articles:detail' article.pk %}">{{ article.pk }}. {{ article.title }}</a></h3>
      <p>{{ article.content }}</p>
      <input type="checkbox" name="chk" value="{{ article.pk }}">
    </div>
    {% endfor %}
    <br>
    <button type="submit">선택 글 삭제하기</button>
  </form>
{% endblock body %}